<div id="sidebar">
    <div id="sidebar-header">
        <div class="avatar">
            <img src="../../assets/images/noPic.svg" id="profile-photo">
        </div>
        <div class="actions">
          <img src="../../assets/images/statusIcon.svg" id="icon" alt="" srcset="">
          <img src="../../assets/images/chatIcon.svg" id="icon" alt="" srcset="">
          <img src="../../assets/images/moreVertIcon.svg" id="icon" alt="" srcset="">
        </div>
    </div>
    <div id="search">
      <mat-icon id="search-icon">search</mat-icon>
      <input type="text" name="" id="" placeholder="Search or start the new chat">
    </div>
    <div id="sidebar-content">
     <!-- <div id="conversations">
          All chats are archived
      </div>-->
      <div class="conversation">
        <div class="profile">
          <img src="../../assets/images/noPic.svg" id="profile-photo" alt="">
        </div>
        <div class="content">
          <div class="conversation-header">
            <div class="username">James</div>
            <div class="time">4:21 PM</div>
          </div>
          <div class="conversation-message">Good Morning!!!</div>
        </div>
      </div>
    </div>
  </div>